.adminview{
    background-image: url('../../assets/images/cool-background.svg');
    background-size: cover;
    background-attachment: fixed;
    height:100%;
    display: flex;
    padding:20px;
}
.card{
    padding-top: 2px;
  margin-right: 1em;
  margin-bottom: 2em;
  height: 28em;
  background-color:white;
  border-radius: 5%;
    
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cardstyle{
    /* padding-left: 30px; */
    text-align: center;
    display:flex;
    flex-wrap: wrap;
  padding: 2em 0em 0em 30px;
}
.button{
    background-color: #4481eb;
    color:white;
    border-radius: 50px;
}
.card-img-top{
    width:100px;
    height:100px!important;
    padding: 0!important;
    margin-left: 29%;
    margin-right:29%;
    margin-top: 5px;
}