<app-navigation></app-navigation>
<div class="changepwd">
    <h1>Change Your Password</h1>
    <div class="alert alert-danger" [class.d-none] *ngIf="!valid">Old Password and new Password cannot be the same</div>
    <div class="alert alert-danger" [class.d-none] *ngIf="!pwd">Invalid credentials</div>
    <div class="alert alert-danger" [class.d-none] *ngIf="!validstrong">New Password not Strong</div>
    <div class="form">
        
        <input [type]="hide? 'password':'text'" name="currentpwd" autocomplete="off"  [(ngModel)]='password' required>
        <label for="currentpwd" class="label-name"><span class="content-name">Current Password</span></label>
        <mat-icon class="fa icn" (click)="hide= !hide">{{hide ? 'visibility':'visibility_off'}}</mat-icon>
    </div>
    <button class="btn-primary butn" [class.d-none] *ngIf="!toggle" (click)="checkuser()"><mat-icon>update</mat-icon></button>
    <div class="form" [class.d-none] *ngIf="toggle">
            <input [type]="hidec? 'password':'text'" name="newpwd" autocomplete="off"  [(ngModel)]='newpassword' required>
            <label for="newpwd" class="label-name"><span class="content-name">New Password</span></label>
            <mat-icon class="fa icn" (click)="hidec= !hidec">{{hidec ? 'visibility':'visibility_off'}}</mat-icon>
    </div>
    <button class="btn-primary butn" [class.d-none] *ngIf="toggle" (click)="changepwd()"><mat-icon>update</mat-icon></button>
</div>
