<nav class="navbar navbar-expand-lg navbar-light navig">
    <a routerLink='/'><img class="logo" src="../../assets/images/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" routerLink='/' routerLinkActive="myactive active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
      </ul>
      <form *ngIf="serv.loggedIn() && serv.searchfn()" class="form-inline my-2 my-lg-0">
        <input name="searchkey" [(ngModel)]='searchkey' class="form-control mr-sm-2" type="search" (ngModelChange)="onsearch($event)" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
      </form>
      <ul class="navbar-nav navbar-right">
        <li> <a class="nav-link" routerLink="/profile" *ngIf="serv.loggedIn() && serv.userlogg()" routerLinkActive="myactive active">{{profile.uname}}</a></li>
        <li> <a class="nav-link" routerLink="/adminview" *ngIf="serv.loggedIn() && !serv.userlogg()" routerLinkActive="myactive active">Admin Profile</a></li>
        <li> <a class="nav-link" routerLink="/login" *ngIf="!serv.loggedIn()" routerLinkActive="myactive active" [routerLinkActiveOptions]="{exact:true}">Login|Signup</a></li>
        <li> <a class="nav-link" *ngIf="serv.loggedIn()" (click)="logoutfn()">Logout</a></li>
      </ul>
    </div>
  </nav>