<app-navigation></app-navigation>
<div class="userquery">
    <div class="head">
        <h1>Edit Query {{query.heading | titlecase}}</h1>
    </div>
    <div class="cardstyle">
        <div class="card">
            <form [formGroup]="editform" (ngSubmit)=editing()>
                <h4><strong class="str1">Heading</strong>:&nbsp; <input type="text"  name="heading" formControlName="heading" [(ngModel)]="query.heading" required ></h4>
                <h4><strong class="str1">Affected Part</strong>:&nbsp; <input type="text"  name="area"  formControlName="area" [(ngModel)]="query.area" required ></h4>
                <h4><strong class="str1">Symptoms & Comments</strong>: &nbsp;<input type="text"  formControlName="comments" name="comments" [(ngModel)]="query.comments" required ></h4>
                <button type="submit" class="btn-success edbtn" [disabled]="editform.invalid"><mat-icon>edit</mat-icon></button>
            </form>
        </div>
    </div>
</div>