.userprofile{
    background-image: url('../../assets/images/cool-background.svg');
    background-size: cover;
    height:100%;
    padding:20px;
    
}
.usersection{
    margin-left:10%;
    margin-top: 60px;
    margin-right:14%;
    padding-top: 20px;
    display: flex;
    height:53vh;
    background-color:rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 5px black;
}
.imagesection{
    padding-left: 50px;
    width:50%;
    margin-left: 20px;
    position: relative;
    
}
.imagesection .btn{
    position:absolute;
    width:40px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
    padding:0!important;
    background-color:white;
    margin-top: 110px;
    transform: translate(-110%, 0%);
    opacity: 0.6;
}
.icn{
    padding-top: 5px;
    /* color:white; */
}
.profilesection{
    padding-top: 40px;
    margin-left: 20px;
}
.str1{
    display:inline-block;
    width:80px;
    text-align:left;
    margin-left: 25px;
}
.btnclass{
    display: flex;
    flex-direction: row;
}
.desbtn{
    margin-top: 5px;
    margin-left: 110px;
    border-radius: 5px;
    width:40px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    display: flex;
   
}
.btntext{
    padding-top: 5px;
    font-size: medium;
}
/* .imagedit { position: relative; }
.imagedit img { display: block; }
.imagedit mat-icon { position: absolute; bottom:0; left:0; } */