<app-navigation></app-navigation>
<div class="indexcontainer">
    <div class="top">
        <div class="quote">
            <blockquote><h2>“The good physician treats the disease; the great physician treats the patient who has the disease.”</h2></blockquote>
            <figcaption>-Sir William Osler </figcaption>
        </div>
        <div class="makeprof">
            <h2>Get Your Concerns  <br>Solved !!</h2>
            <button class="btn btn-success"><a routerLink='/login'>Get Solutions</a></button>
        </div>
    </div>
    <div class="bottom">
        <div class="bottomleft">
            <div class="leftlayer">
                <h1>24/7 Service</h1>
                <h3> Your concern is our Highest priority. We ensure unbroken service.</h3>
            </div>
        </div>
        <div class="bottommid">
            <div class="midlayer">
                <h1>Personalised Solutions</h1>
                <h3> Get solution hand-picked for your profile and concern, customised to suit you.</h3>
            </div>
        </div>
        <div class="bottomright">
            <div class="rightlayer">
                <h1>Highly qualified Specialists</h1>
                <h3> Your being taken care by No.1 specialists. You are safe in their arms.</h3>
            </div>
        </div>
    </div>
    <div class="works">
        <H4>How It Works</H4>
        <div class="working">
            <div class="step">
                <img src="../../assets/images/step1.svg" alt="step1">
                <div class="writsec">
                    <p class="stephead">01.</p><p class=title>Register With Us</p><br>
                    <p class="stepdesc">Create an account and register with us. Log in to your account.</p>

                </div>
                
            </div><br>
            <div class="step">
                <div class="writesec">
                    <p class="stephead">02.</p><p class="title">Setup Profile</p><br>
                    <p class="stepdesc">Add common details like height,weight,etc. to set up your profile</p></div>
                
                <img src="../../assets/images/step2.svg" alt="step2">
            </div><br>
            <div class="step">
                <img src="../../assets/images/step3.svg" alt="step3">
                <div class="writesec">
                    <p class="stephead">03.</p><p class="title">Add Concerns</p><br>
                <p class="stepdesc">Add your Concerns and queries with all the required fields.</p>
                </div>
                
            </div><br>
            <div class="step">
                <div class="writesec">
                    <p class="stephead">04.</p><p class="title">Doctor Response</p><br>
                <p class="stepdesc">The doctor will review your query within 24 hrs and give the response.</p>
                </div>
                
                <img src="../../assets/images/step4.svg" alt="step4">
    
            </div>
        </div>
       
    </div>
    <footer>
        &copy; 2021 | All Rights Reserved
    </footer>
</div>
